<div class="container">
    <h2>Application for: {{role.role_name}} at {{role.company}}</h2>

    <form class="form application-form">                                     <!--belongs to 2 classes- form and application-form-->
    <input type="hidden" value="{{role.id}}" id="role_id"><!--**-->
      <div class="form-group">
        <label for="first-name-application">First Name:</label>
        <input class="form-input" type="text" id="first-name-application" />
      </div>

      <div class="form-group">
        <label for="last-name-application">Last Name:</label>
        <input class="form-input" type="text" id="last-name-application" />
      </div>
      
      <div class="form-group">
        <label for="email-application">Email:</label>
        <input class="form-input" type="text" id="email-application" />
      </div>
      
      <div class="form-group">
        <label for="phone-number-application">Phone Number:</label>
        <input class="form-input" type="text" id="phone-number-application" />
      </div>

      <div class="form-group">
        <label for="cv-application"> CV(link):</label>
        <input class="form-input" type="text" id="cv-application" />
      </div>
      
      <div class="form-group">
        <!--**--><button id="sendAppBtn"class="button" type="submit" >Send Application</button>   <!--role.id to pass it in the req.body as the foreign key (role_id) when creating this application record-->
      </div>

    </form>
  </div>
  
  
  <script src="/js/application.js"></script><!--**-->