<div class="container">
    <h2>Login</h2>

    <form class="form login-form">         <!--belongs to 2 classes- form and login-form-->
    
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      
      <div class="form-group">
        <button class="button" type="submit">login</button>
      </div>
    
    </form>

    <a href="/signup">Signup instead?</a>
</div>


<script src="../public/js/login.js"></script>
