body, html
{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding: 0;
}



.searched-roles
{
    min-height: 500px;
}


.profile
{
margin-top: 1em;
}


.err_message
{
    text-align: center;
}


.login-button {
    padding: 8px 16px;
    background-color: #0A1D2A; 
    color: #F9D40B;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 100px;
    outline: none;
}

.login-button:hover {
    background-color: #567e98; 
    font-weight: bold;
}




nav {
padding: 10px 20px; /* Reduced padding, adjust as needed */
height: 100px; /* Set a fixed height */
display: flex;
justify-content: space-between;
align-items: center;
height: 100px; /* Set a fixed height */

  z-index: 1;
  position: relative;
  height: 80px; /* Adjust as needed */
}



nav .logo {
    display: flex;
    align-items: center;
  }


  nav .logo img {
    height: 50px;
    width: auto;
    margin-right: 10px;
  }
  

  nav ul {
    list-style: none;
    display: flex;
  }
  nav ul li {
    margin-left: 1.5rem;
  }
  nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
  }


  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 25px;
    height: 2px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }


  .hamburger-active .line:nth-child(2) {
    width: 0px;
  }
  
  .hamburger-active .line:nth-child(1),
  .hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
  }
  
  .hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
  }

  .menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 40%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.7s ease-in;
    z-index: 2;
  }
  .active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  

  .menubar ul {
    padding: 0;
    list-style: none;
  }
  .menubar ul li {
    margin-bottom: 32px;
  }
  
  .menubar ul li a {
    text-decoration: none;
    color: #0A1D2A;
    font-size: 95%;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .menubar ul li a:hover {
    background-color: #f5f5f5;

  }


/* Style headings */
h2 {
    font-weight: 500;
    color: #224957;
    text-align: center; 
    margin-bottom: 20px;
}


/* Style headings */
h4 {
    font-weight: 500;
    color: #224957;
    text-align: center; 
    margin-bottom: 20px;
}

.container {
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px; 
    background-color: #FFFFFF; 
    border: 1px solid #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px; 
}

.container {
    max-width: 400px;
    margin: 100px auto; 
    padding: 20px; 
    background-color: #FFFFFF; 
    border: 1px solid #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px; 
}



.roles_container
{
    max-width: 400px;
    margin: 100px auto; 
    border-radius: 8px;
 }



 #searched-roles-card {
    display: flex;
    flex-direction: column;
    margin-top: 3em;

}

.searched-role-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}



#specific-container {
    max-width: 72%;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

#profile-container {
    max-width: 70%;
    margin-top: 0;
    
}

#searched-container{
    max-width: 60%;
    margin-top: 20px;
}

.form {
    display: flex; 
    flex-direction: column; 
}

.form-group {
    margin-bottom: 15px; 
}


label {
    display: block;
    color: #666; 
    margin-bottom: 5px; 
}

.input, .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCDCE1;
    border-radius: 4px; 
    box-sizing: border-box;
}

/* Style the submit button */
.button {
    font-size: 14px;
    margin-top: 1em;
    background-color: #0A1D2A;
    width: 100%;
    color: #F9D40B;
    border: none;
    padding: 12px 20px;
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.button:hover {
    background-color: #567e98; 
    font-weight: bold;
}

#submitbtn {
    font-size: 12px;
    margin-top: 1em;
    background-color: #0A1D2A;
    color: #F9D40B;
    border: none;
    padding: 12px 18px ;
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#submitbtn:hover {
    background-color: #b1bfc6; 
    font-weight: 600;
}

.applybtn{
    width: 50%
}

.savebtn {
    width: 50%;
    display: block; 
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.deleteAppBtn {
    width: 30%;
}

.deleteSavedRoleBtn {
    width: 30%;
}

a {
    display: block;
    text-align: center;
    color: #224957; 
    font-weight: 500;
    text-decoration: none; 
    margin-top: 20px; 
}

a:hover {
    text-decoration: none; 




}
.site-footer {
    margin-top: 50px; /* Adds space between the main content and footer */
    background: linear-gradient(to right, #0A1D2A, #063542); /* Adjust the second color as needed */
    color: #fff; /* White text color */
    padding: 20px; /* Padding around the footer */
    font-family: 'Be Vietnam Pro', sans-serif; /* Consistent font usage */
    width: 100%; /* Full width */
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px; /* Space between sections */
}
.footer-content {
    display: flex;
    justify-content: space-between; /* Spread content to both ends */
    align-items: center; /* Align items vertically */
    padding: 20px 40px; /* Add padding for spacing */
}

.icon-container {
    display: flex;
    justify-content: center; /* Center icons horizontally within the container */
    align-items: center; /* Center icons vertically */
    margin: 0; /* Adjust margin as needed */
}

.icon-container a {
    margin: 0 10px; /* Adjust spacing between icons */
}

.icon-container a i {
    font-size: 20px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    text-stroke: 1px #ffffff;
}

/* Style for the logo in the footer */
.footer-logo {
    display: block; /* Ensures logo is a block-level element, which helps with flex alignment */
    height: auto; /* Maintain original image aspect ratio */
    width: 80px; /* Adjust width as necessary */
}



.footer-bottom {
    text-align: center; /* Center-align the text */
    padding-top: 20px; /* Space above the text */
    font-size: 10px; /* Smaller font size for copyright */
}

/* Additional responsiveness and theming might be required based on your site's needs */


.search-container {
    width: 50%; /* or any specific width */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff; /* Adjust color as needed */
    box-shadow: 5px 5px 0px 0px #4d7995; /* Adjust the spread and size here */
    border-radius: 20px;
    margin: 20px auto; /* Adjusted to auto to center horizontally */
}


/* Style for all input fields and selects to be consistent */
.search-div input[type="text"], .search-div select {
    width: 150px; /* Increased width */
    padding: 8px 10px; /* Adequate padding for text visibility */
    margin: 5px; /* Spacing between elements */
    border: 1px solid #ccc; /* Border color */
    border-radius: 16px; /* Rounded corners */
    color: #333; /* Text color */
}

/* Specific styles for the dropdown to use a custom arrow */
.search-div select {
    -webkit-appearance: none; /* Removes default styling on WebKit browsers */
    -moz-appearance: none; /* Removes default styling on Firefox */
    appearance: none; /* Removes default styling */
    background: url('path_to_custom_arrow_icon') no-repeat right #fff; /* Adds custom arrow */
    background-position-x: 95%; /* Positions the arrow icon closer to the edge */
}

/* Style for the search button */
.search-div input[type="submit"] {
    width: 150px; /* Increased width for the button */
    padding: 10px; /* Better padding for a more clickable area */
    background-color: #333; /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 16px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
}

.search-div input[type="submit"]:hover {
    background-color: #555; /* Darker shade on hover */
}

.hero-and-search {
    background: linear-gradient(#c2d6e3, #c2d6e3 95%, transparent 50%);

}

.hero-section {
    background-color: #c2d6e3; /* Setting the background color */
    text-align: center;
    padding: 40px 20px;
    color: #0A1D2A; 
}


.hero-section h2, .hero-section p {
    color: inherit; /* Inherits white color from .hero-section */
    
}

.hero-section p {
    font-size: 14px;
    margin-bottom: 10px;
}

.hero-section button {
    padding: 10px 20px;
    background-color: #333; /* Grey button */
    color: #fff; /* Text color */
    border: none;
    border-radius: 18px;
    font-size: 14px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.3s;
}

.hero-section button:hover {
    background-color: #0f0e0e; /* Darker shade on hover */
}
/* General Styles */


.job_container {
    display: flex;
    justify-content: center;
    flex-direction: row;  
    padding: 20px;
    gap: 20px;
}


/* General Style for Filter Section */
.filter-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #0A1D2A;
    width: 15%; /* Adjust based on layout needs */
    float: left; /* Aligns the filter section to the left */
    box-sizing: border-box; /* Includes padding in width */
}

/* Style for dropdowns within the filter */
.filter-section .search-field {
    width: 100%; /* Full width */
    padding: 8px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 16px;
    font-family: inherit; 
    appearance: none;
}

/* Style for checkbox containers for clarity and spacing */
.filter-section .checkbox-group {
    margin-bottom: 35px;

}

/* Checkbox label styling */
.filter-section .checkbox-label {
    display: block;
    font-size: 18px;
    color: #333;
}

/* Custom style for checkboxes */
.filter-section .checkbox {
    margin-right: 10px;
}

/* Style for the 'Apply Filters' button */
.filter-section .apply-btn {
    padding: 10px 15px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block; /* Ensures it doesn't inline with other elements */
    width: 100%;
}

.filter-section .apply-btn:hover {
    background-color: #357ABD;
}

/* Ensure that the filter section does not affect layout of other elements */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.job-details-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #567e98; /* Dark blue border */
    flex: 2;
    max-width: 20%; /* Controls width of the job details section */
}


.featured-role-card:hover {
    border-color: #0A1D2A; /* Changes the border color on hover */
}

/* Featured Jobs Section */
.featured-jobs-section {
    flex: 3;
    max-width: 60%; /* Controls width of the main job listing area */
    display: flex;
    flex-direction: column;

}

#featured-roles-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;



}


.job-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.job-info p {
    margin: 0;
}


.featured-role-card {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Adjust width as necessary, possibly reduce it to fit 2 cards per row */
    padding: 6px;
    margin-bottom: 10px; /* Spacing between cards */
    background-color: #fff;
    border: 1px solid #567e98;
    border-radius: 10px;
    cursor: pointer;
    height: 60px;
}

.featured-role-card a {
    color: #0A1D2A;
    text-decoration: none; /* No underline */
}

.featured-role-card p {
    font-size: 0.9em;
    color: #666; /* Subtle grey for less emphasis */
}

.personal-info {
    margin-left: 30px;
    margin-bottom: 20px;
}

.personal-info a {
    text-align: inherit;
}

.personal-info h1 {
    margin-bottom: 20px;
}
.profile-info {
    display: inline-block;
    margin-top: 10px;
    border: 1px solid #567e98;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 8px; 
    padding: 20px;
}

.profile-title{
    font-weight: bold;
    font-size: 20px;
    text-align: inherit;
}

.details {
    flex: 1; 
    text-align: center; 
    margin: 0 10px; 
    white-space: nowrap; 
}
.job-details-section ul {
    list-style-type: none; /* Remove default bullet */
    padding-left: 0; /* Remove default padding */
}

.job-details-section a {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
}

.job-details-section a:before {
    content: '💻'; /* Unicode for the 💻 emoji */
    margin-right: 0.5em; /* Space between emoji and text */
}

.job-details-section a {
    color: #333; /* Link color */
    text-decoration: none; /* Remove underline */
}

.job-details-section a:hover {
    text-decoration: underline; /* Underline on hover */
}


.job-details-section h6 {
    color: #357ABD; /* Link color */
    text-decoration: none; /* Remove underline */
}



.job-title, .company-name, .job-type, .salary, .location {
    flex: 1; 
    text-align: center; 
    margin: 0 10px; 
    white-space: nowrap;
}



.company-name
{
    /* text-decoration: underline; */
    font-weight: bold;
}

.jobs-header
{
    margin-top: 60px;
}


.text-center
{
    margin-top: 20px;
}

.selected-role-card
{
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
margin-top: 5em;
margin-bottom: 4em;
width: 100%;
}

.all-role-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribute items evenly */
}




.all-role-card {

    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 2%; /* Use percentage for padding */
    box-sizing: border-box;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    gap: 2%; /* Use percentage for gap */
    width: 100%; /* Use percentage for width */
}

.company, .job, .sal, .loc, .dec, .cat {
    font-size: small;
    font-weight: bold;
}

.company {
    margin-top: 30px;
}

.desc {
    justify-content: center;
}

.role-card{
    padding: 10px;
    text-align: center;
    margin-bottom: 40px;
}


.mobile-links {
    display: none;
    background-color: #063542;
    color: #0A1D2A;
    text-align: center;
    padding: 10px 0;
}

.mobile-links .mobile-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}


/* Media Queries */

/* Responsive adjustments */
@media (max-width: 992px) {
    .job_container {
        flex-direction: column;
    }

    .filter-section, .featured-jobs-section, .job-details-section {
        max-width: 100%;
    }

    .featured-role-card {
        width: 100%; /* Full width on smaller screens */
    }
}




@media (max-width: 850px) {
   .footer-bottom {
    text-align: center; /* Center-align the text */
    padding-top: 20px; /* Space above the text */
    font-size: 10px; /* Smaller font size for copyright */
}

    .hamburger {
        display: block;
      }

      nav ul {
        display: none;
      }

      .login-button
      {
        display: none;
      }
    

    .header-nav {
        display: none; 
        text-align: center; 
        
    }

    .header-nav a {
        display: block; /* Ensure each link takes up full width */
        margin-bottom: 10px; /* Add space between each link */
        float: right;
    }

    

    .logo-link {
        text-align: center; /* Center-align the logo */
        margin-bottom: 10px; /* Add some space below the logo */
    }

 
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header.show-nav .header-nav {
        display: block;
    }

    .auth-buttons {
        text-align: center; 
    }

      .featured-role-card {
        text-align: center;
    }




    .job-title {
        margin: 0 auto; /* Center the job title */
    }

      .company-name, .job-type, .salary, .location {
        display: none;
    }

    .search-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-div {
        width: 100%;
        max-width: 300px;
    }

    .search-div input[type="text"], .search-div select {
        width: 100%;
        max-width: 300px; 
        margin: 5px 0;
    }

    .search-div input[type="submit"] {
        width: 100%; 
        max-width: 600px; 
        margin-top: 10px; 
    }

    }
    


